
.mainnav {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow: hidden;
  background-color: #d9eee1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-box {
  display: block;
}

.dropdown {
  float: left;
  margin: 0px;
  padding: 0px;
}

.dropbtn {
  display: inline-block;
  padding: 14px 46px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.1vh;
}

.dropbtn:hover {
  background-color: #04aa6d;
  color: #fff;
}

.cross {
  display: none;
  float: right;
  height: 22px;
  width: 20px;
  padding: 10px;
  background-color: #04aa6d;
  color: #fff;
}

.active {
  background-color: #282a35;
  color: #fff;
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.1vh;
}

.fa {
  font-size: 12px;
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .dropdown {
    float: none;
  }

  .dropdown_content {
    position: relative;
    background-color: grey;
  }

  .dropbtn {
    width: 100%;
  }

  .cross {
    display: block;
  }

  .main-box {
    display: none;
  }

  .navbtn:hover .main-box {
    display: block;
  }
}

/* here ends navigation bars design */
/* Design for main content */
.maincontent {
  display: grid;
  background-color: #282a35;
  padding: 50px 20px 20px 20px;
  gap: 10px;
}
/* Design for heading */
.heading {
  text-align: center;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 4px;
}
/* Design for element container */
.element_container {
  display: grid;
  grid-template-columns: 1fr;
  /* gap: 50px; */
  margin-top: 20px;
}
.pdf_table {
  width: 100%;
  border-spacing: 0px;
  /* border-radius: 10px; */
  background-color: #96d4d4;
}
.pdf_table th {
  background-color: #04aa6d;
  color: #f1f1f1;
  font-size: 12px;
}
.pdf_table td,
th {
  border-right: 1px solid #489aa7;
  border-bottom: 1px solid #489aa7;
  padding: 5px;
  font-size: 12px;
}
/* font awesome icon design */
.faicon {
  float: right;
  margin-right: 15px;
  font-size: 14px;
  color: #0a5d3e;
}

/* Main content design ends here */


/* Making responsive for tab */
@media screen and (max-width: 1200px) {
  .element_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
/* making responsive here */
@media screen and (max-width: 800px) {
  /* This is for responsive for header content*/

  .header_content {
    padding: 18px;
    padding-left: 5px;
  }
  .link_text {
    font-size: 33px;
    margin-left: 5px;
  }
  .login_btn {
    width: 40px;
    padding: 10px 5px;
    font-size: 10px;
    margin-right: 5px;
    margin-top: 10px;
    border: 3px solid white;
    margin-top: 0px;
    font-weight: bold;
  }
  .signup_btn {
    width: 55px;
    padding: 10px 5px;
    font-size: 10px;
    border: 3px solid white;
    margin-top: 0px;
    margin-right: -8px;
    font-weight: bold;
  }
  /* Design for main content */
  .maincontent {
    padding: 25px;
  }
  /* responsiveness for element container */
  .element_container {
    grid-template-columns: 1fr;
  }
}
