<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/colleges.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/faece1f3dd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>BHU | Get BHU Entrance Test here</title>
</head>

<body>
    <!-- Header starts here -->
    <header class="header_content">
        <div>
            <a href="home" class="link_text">free pdf</a>
        </div>
        <div>
            <!-- signup form and btn is here -->
            <button class="acc_btn" onclick="opensignupform()">Signup</button>
            <div class="popup">
                <div class="pop-window" id="signup-form">
                    <div class="form-container">
                        <div class="login-form">
                            <!-- close button starts -->
                            <div class="upcontent">
                                <h2>Create Account</h2>
                                <button class="icon" onclick="closesignupform()" title="close">
                                    <span class="bar-1">
                                        <span class="bar-2"></span>
                                    </span>
                                </button>
                            </div>
                            <form action="" class="main-form">
                                <!-- close button end -->
                                <label for="email">Email :</label>
                                <input type="email" placeholder="Enter email" name="email" required>
                                <label for="password">Password :</label>
                                <input type="password" placeholder="Enter password" required>
                                <label for="password">Confirm Password :</label>
                                <input type="password" placeholder="Re Enter password" required>
                                <input type="submit" value="Login">

                            </form>
                        </div>
                    </div>
                </div>
                <!-- Login form and btn is here -->
                <button class="acc_btn" onclick="openloginform()">Login</button>
                <div class="popup">
                    <div class="pop-window" id="login-form">
                        <div class="form-container">
                            <div class="login-form">
                                <!-- close button starts -->
                                <div class="upcontent">
                                    <h2>Login</h2>
                                    <button class="icon" onclick="closeloginform()" title="close">
                                        <span class="bar-1">
                                            <span class="bar-2"></span>
                                        </span>
                                    </button>
                                </div>
                                <!-- close button end -->
                                <form action="" class="main-form">
                                    <label for="email">Email :</label>
                                    <input type="email" placeholder="Enter email" name="email" required>
                                    <label for="password">Password :</label>
                                    <input type="password" placeholder="Enter password" required>
                                    <input type="submit" value="Login">

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </header>
    <!-- Header ends here -->
    <!-- Navigation bar start here -->

    <ul class="mainnav">
        <!-- main box start here -->
        <div class="navbtn">
            <div class="cross" onclick="navbarbox()">
                <div class="hamberg" onclick="hambtn()">
                    <span id="bar-1" class="bar"></span>
                    <span id="bar-2"  class="bar"></span>
                    <span id="bar-3"  class="bar"></span>
                </div>
            </div>
            <div id="navbx" class="main-box">
                <li class="dropdown">
                    <span class="active">Years Wise Paper<i class="fa fa-caret-right"></i></span>
                </li>
                {% for i in years %}

                <li class="dropdown"><a href="/freepdf/bhu?year={{i.year}}" class="dropbtn">{{i.year}}</a></li>

                {% endfor %}
                </li>
            </div>
        </div>
    </ul>

    <!-- main container start here -->
    <div class="maincontent">
        <div class="element_container">
            <!-- uet table starts here -->
            <div class="pdf_content">

                <div class="heading">BHU UET Papers</div>
                <table class="pdf_table">
                    <tr>
                        <th class="wd-th">Year</th>
                        <th>Courses</th>
                    </tr>
                    {% for i in data %}

                    {% if i.section == 'uet' %}

                    <tr>
                        <td style="text-transform: uppercase;">{{i.section}} {{i.year}}</td>
                        <td style="text-transform: uppercase;">{{i.course}}
                            <a href="/media/{{i.file}}">
                                <i class="fa-solid fa-download faicon"></i>
                            </a>
                        </td>
                    </tr>

                    {% endif %}

                    {% endfor %}

                </table>
                <!-- <div class="down-bar"></div> -->
            </div>
            <!-- uet table ends here -->

            <!-- pet table sarts here -->
            <div class="pdf_content">

                <div class="heading">BHU PET Papers</div>
                <table class="pdf_table">
                    <tr>
                        <th class="wd-th">Year</th>
                        <th>Courses</th>
                    </tr>
                    {% for i in data %}

                    {% if i.section == 'pet' %}

                    <tr>
                        <td style="text-transform: uppercase;">{{i.section}} {{i.year}}</td>
                        <td style="text-transform: uppercase;">{{i.course}}
                            <a href="/media/{{i.file}}">
                                <i class="fa-solid fa-download faicon"></i>
                            </a>
                        </td>
                    </tr>

                    {% endif %}

                    {% endfor %}
                </table>
                <div class="down-bar"></div>
            </div>
            <!-- pet table end here  -->

            <!-- ret table starts here -->
            <div class="pdf_content">

                <div class="heading">BHU RET Papers</div>
                <table class="pdf_table">
                    <tr>
                        <th class="wd-th">Year</th>
                        <th>Courses</th>
                    </tr>
                    {% for i in data %}

                    {% if i.section == 'ret' %}

                    <tr>
                        <td style="text-transform: uppercase;">{{i.section}} {{i.year}}</td>
                        <td style="text-transform: uppercase;">{{i.course}}
                            <a href="/media/{{i.file}}">
                                <i class="fa-solid fa-download faicon"></i>
                            </a>
                        </td>
                    </tr>

                    {% endif %}

                    {% endfor %}
                </table>
                <div class="down-bar"></div>
            </div>
            <!-- ret table end here -->
        </div>
    </div>
    <!-- Main container ends here -->

    <!-- Footer start here -->

    <footer class="footer_content">

        <div class="down_content">
            <p>&#169 All rights reserved 2022 | Made by : Nirbhay Singh</p>
        </div>

    </footer>


    <!-- Scripts coding starts here -->
    
    <script>

        var a = 1;
        // sign up form scripts
        function opensignupform() {
            document.getElementById("signup-form").style.display = "block"
        }
        function closesignupform() {
            document.getElementById("signup-form").style.display = "none"
        }
        // login form scripts
        function openloginform() {
            document.getElementById("login-form").style.display = "block"
        }
        function closeloginform() {
            document.getElementById("login-form").style.display = "none"
        }

        // navbar scripts starts here
        function navbarbox() {
            const navopen = document.getElementById("navbx").style;
            const navclose = document.getElementById("navbx").style;
            const bar1 = document.getElementById("bar-1").style;
            const bar2 = document.getElementById("bar-2").style;
            const bar3 = document.getElementById("bar-3").style;
            if (a==1) {
                navopen.display = "block";
                bar1.cssText = "position: absolute; transform: rotate(-45deg); width: 25px;";
                bar2.display = "none";
                bar3.cssText = "position: absolute; transform: rotate(45deg); width: 25px;";
                return a = 0;
            }else {
                navclose.display = "none";
                bar1.cssText = "position: relative; transform: rotate(0deg); width: 100%;";
                bar2.display = "block";
                bar3.cssText = "position: relative; transform: rotate(0deg); width: 100%;";
                return a = 1;
            }
        }

    </script>

    <!-- scripts ended -->
</body>

</html>